# Ignore compiled Python files
*.pyc
*/__pycache__
.vscode

# Ignore the build directory
build/

jsonltojson.egg-info/

# Ignore the distribution directory
dist/

# Ignore the virtual environment
venv/